.home {
  max-width: 950px;
  margin: 2rem auto;
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home__story {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  max-width: 40rem;
  background-color: white;
  padding: 3rem 0.5rem;
  max-height: 6rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

.header__profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.home__left {
  flex: 0.7;
}
.home__right {
  flex: 0.3;
  position: fixed;
  left: 60rem;
}

::-webkit-scrollbar {
  display: none;
}
